---
import { CollectionEntry, getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";
import SiteLayout from "../../layouts/SiteLayout.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog", ({ data }) => {
    return !data.draft && data.date < new Date();
  });
  const formattedPosts: CollectionEntry<"blog">[] = allPosts.sort(
    (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
  );

  return paginate(formattedPosts, { pageSize: 6 });
}

const { page } = Astro.props;
---

<SiteLayout title="Blog">
  <section
    class="container mx-auto px-4 pt-20 pb-6 lg:px-24"
    aria-label="New Blog Posts"
  >
    <h1 class="text-6xl font-extrabold">Blog</h1>
    <div class="my-8 grid gap-x-8 gap-y-12 md:grid-cols-2 xl:grid-cols-3">
      {page.data.map((post) => <PostCard data={post.data} url={post.slug} />)}
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</SiteLayout>
