---
const { headings } = Astro.props;
---

<nav>
  <h2 class="font-semibold mb-4">On this page</h2>
  <ul class="space-y-2">
    {
      headings.map(
        (heading) =>
          heading.depth === 2 && (
            <li>
              <a
                href={`#${heading.slug}`}
                class="text-neutral-500 hover:underline"
              >
                {heading.text}
              </a>
            </li>
          )
      )
    }
  </ul>
</nav>
