---
import { Image } from "@astrojs/image/components";
import SiteLayout from "../layouts/SiteLayout.astro";
const pageTitle = "Home Page";
---

<SiteLayout title={pageTitle}>
  <section class="min-h-full pt-20 grid place-items-center bg-neutral-300">
    <div
      class="container mx-auto px-4 flex flex-col-reverse justify-center items-center gap-4 lg:px-24 lg:flex-row"
    >
      <div class="flex-1 space-y-4 text-center lg:text-start">
        <h1 class="text-4xl font-black lg:text-8xl">John Doe</h1>
        <p class="text-lg font-medium">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At ullam
          perferendis vitae eum atque optio. Odit obcaecati nobis possimus
          cupiditate odio consequuntur earum, provident, deserunt laboriosam
          impedit hic mollitia. Earum.
        </p>
      </div>
      <div class="profile flex-1">
        <Image
          src="https://via.placeholder.com/300"
          alt="Profile Picture"
          width={300}
          height={300}
          format="webp"
          fit="cover"
          class="mx-auto lg:w-[400px] lg:h-[400px]"
        />
      </div>
    </div>
  </section>
</SiteLayout>
